<div class="parent mt-5 d-flex ">
    <div class="child1 text-light mt-3 me-5 ms-5">
        <h6>Udemy Business</h6>
        <h6>Teach on Udemy</h6>
        <h6>Get the App</h6>
        <h6>About Us</h6>
        <h6>Contact Us</h6>
        <img src="https://www.udemy.com/staticx/udemy/images/v7/logo-udemy-inverted.svg" class="mt-5 mb-3" alt="">

    </div>
    <div class="child2 text-light mt-3 ms-5">
        <h6>Careers</h6>
        <h6>Blog</h6>
        <h6>Help and Support</h6>
        <h6>Affiliate</h6>
    </div>
    <div class="child3 text-light mt-3 ms-5">
        <h6>Terms</h6>
        <h6>Privacy Policy</h6>
        <h6>Cookie Settings</h6>
    </div>
    
</div>