<div class="d-flex card1 ">

    <div class="card card2 mt-5 ms-5 ">
      <div class="card-body">
        <h1 class="h1">New to Udemy? Lucky you.</h1>
        <h4 class="h4">Courses start at ₹455. Get your new-student offer before it expires.</h4>
      </div>
    </div>
    
    
</div>

<h1 class="mt-5 ms-3 h1">A broad selection of courses</h1>
<h5 class="h5 ms-3">Choose from 183,000 online video courses with new additions published every month</h5>

<div class="w-50 ms-3">
<ul class="nav d-flex justify-content-between">
    <li class="nav-item">
        <a class="nav-link active text-dark" href="#">Python</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active text-dark" href="#">Excel</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active text-dark" href="#">Web-development</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active text-dark"  href="#">Javascript</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active text-dark" href="#">Data Science</a>
    </li>
</ul>
</div>

