
<!-- <nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="https://www.udemy.com/staticx/udemy/images/v7/logo-udemy.svg" alt="" width="30%"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav   mb-2 mb-lg-0 ">
        <li class="nav-item me-5">
          <a class="nav-link active" aria-current="page" href="#">Categories</a>
        </li>
        
        <li>
          
            <input class="form-control " type="search" placeholder="Search for anything" aria-label="Search">
            
        
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Udemy Business</a>

        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Tech on Udemy</a>

        </li>
        <li class="nav-item ms-3">
          <button class="btn"><img src="../assets/shopping_cart_black_24dp.svg" alt=""></button>
        </li>
        <li class="nav-item">
          <button class="btn login ms-3" >Login</button>

        </li>
        <li class="nav-item ms-3">
          <button class="btn signUp" >Sign up</button>

        </li>
        <li class="nav-item ms-3">
          <button class="btn globe" ><img src="../assets/language_black_24dp.svg" alt=""></button>

        </li>
       
        
        
      </ul>
      
    </div>
  </div>
</nav> -->

<!-- <app-hcard1></app-hcard1>
<app-hcard2></app-hcard2>
<app-footer></app-footer> -->

<div class="container">
  <form class="mx-auto mt-5 w-50" [formGroup]="userForm">
    <label for="" class="">Username</label>
    <input type="text" class="form-control" formControlName="Username">
    
    <label for="" class="mt-3">Email</label>
    <input type="text" class="form-control" formControlName="Email">
    
    <label for="" class="mt-3">Mobile Number</label>
    <input type="number" class="form-control" formControlName="contact">
    
    <label for="" class="mt-3">Age</label>
    <input type="number" class="form-control" formControlName="Age">
    
    <button class="btn btn-dark mt-3 w-100"><img src="../assets/edit_white_24dp.svg" alt=""> Edit</button>
  </form>
</div>
<!-- <router-outlet></router-outlet> -->
